@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 60px;
  background: $theme-gradient;

  .link {
    display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: $top-header-text-color;
    margin-left: 20px;
    font-family: 'Catamaran';
    font-weight: 800;
  }
}
